
# Ignore folder named 'Python/Backend/yolo-coco'
catvision-flask/yolo/

# Ignore folder named 'Python/Backend/fasterrcnn'
catvision-flask/fasterrcnn/

# Ignore folder named 'Python/Backend/ssd'
catvision-flask/ssd/

# Ignore folder named 'Python/.idea'
.idea/

Images/*

catvision-flask/RaspyCamServer/venv/

# Ignore folder named '__pycache__'
catvision-flask/__pycache__/
Frontend/__pycache__/
RaspberryPi/__pycache__/
/.metadata/
.gitignore
